@model TournamentBracket.Models.Tournament

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data" asp-controller="Tournaments" asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentDate" class="control-label">Tournament Date</label>
                <input asp-for="TournamentDate" class="form-control" />
                <span asp-validation-for="TournamentDate" class="text-danger"></span>
            </div>
            <!--Options Drop-Down Menu-->
            <div class="form-group form-check">      
                <label class="form-check-label">
                    Bracket Options:
                    <select asp-for="BracketOptions" class="form-control">
                        <option value="SingleElimination">Single Elimination</option>
                        <option value="DoubleElimination">Double Eliminationt</option>
                        <option value="ThirdPlaceMatch">Third Place Match</option>
                    </select>
                </label>
            </div>

            <!--Participant(s) Creation-->
            <div id="participantsContainer">
                <label>Participants:</label>
                <div class="file-upload">
                    <input type="file" name="postedFile" />
                </div>
                
                <div class="participant">
                    <input type="text" name="Names[0]" class="form-control" placeholder="Participant Name" />
                    <input type="file" name="Images" multiple/>
                </div>
            </div>

            <!--Button to add more participants-->
            <button type="button" id="addParticipantBtn" class="btn btn-primary">Add Participant</button>

            <!-- Bitton to submit the form-->
            <div class="form-group">
                <!-- <button type="submit" class="btn btn-primary">Create</button>-->
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#addParticipantBtn").click(function () {
                var index = $("#participantsContainer .participant").length;
                var newParticipantHtml = `
                            <div class="participant">
                                <input type="text" name="Names[${index}]" class="form-control" />
                                <input type="file" name="Images" multiple />
                            </div>
                        `;
                $("#participantsContainer").append(newParticipantHtml);
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
