@model TournamentBracket.Models.Tournament

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title> @Html.DisplayFor(model => model.Name) </title>
    <link rel="stylesheet" href="https://use.typekit.net/mzt3xcp.css">
    <link rel="stylesheet" href="~/css/Tournament.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LosersBracket.css" asp-append-version="true" />

</head>

<body>

    <!--Scripts that run on the page opening that will dynamically generate the brackets-->
    <script>
        var numberOfParticipants = @Model.NumberOfParticipants;

        //Load the Tournament brackets
        window.onload = function () {
            generateTournamentBracket(numberOfParticipants, "dynamic-bracket");
            generateFinalsMatchBracket("final-match");

            generateLosersBracket(numberOfParticipants-1, "dynamic-losers-bracket")

            //generateFinalsMatchBracket("dynamic-finals-bracket")
            //generateTournamentBracket(numberOfParticipants, "dynamic-losers-bracket");
        }
    </script>

    <!--Images in the view -->
    <img src="https://tournamentbracketimages.blob.core.windows.net/pokken-theme-assets/logo.png" class="Pokken-Logo" />
    <img src="https://tournamentbracketimages.blob.core.windows.net/pokken-theme-assets/braixen.png" class="braxian" />

    <!--Div for the multiple brackets for the double elimination-->
    <div class="tournament-container">
        <h1>Main</h1>
        <div class="tournament" id="dynamic-bracket"></div>
        <!--<h1>Winner's bout</h1>
        <div class="final-match-tournament" id="dynamic-finals-bracket"></div>-->
        <div class="final-match" id="final-match"></div>

        <h1>Loser's</h1>
        <div class="tournament loser" id="dynamic-losers-bracket"></div>
            
    </div>



    <!--The participants images in the bracket-->
    <div class="participant-menu">

        @foreach (var participant in Model.Participants)
        {    
            
                <div class="participant" id=@participant.Name draggable="true" ondragstart="drag(event)">
                    <img src=@participant.ImageURL alt="Icon" />
                    <div class="win-counter">
                        <button onclick="incrementCounter(this)">+</button>
                        <span class="counter">0</span>
                        <button onclick="decrementCounter(this)">-</button>
                    </div>
                </div>
            
        }
    
    </div>
</body>
</html>
