@model TournamentBracket.Models.Tournament

@{
    Layout = null;
}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title> @Html.DisplayFor(model => model.Name) </title>
</head>

<body>
    <!--<link rel="stylesheet" href="~/css/Tournament.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Tournament.css" asp-append-version="true" />
    <script src="~/js/Scripts.js" asp-append-version="true"></script>
    <script>
        var numberOfParticipants = @Model.NumberOfParticipants;


        window.onload = function () {
            generateTournamentBracket(numberOfParticipants, "dynamic-bracket");
            generateTournamentBracket(numberOfParticipants, "dynamic-losers-bracket");
        }
    </script>


    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

    <div class="background-image">

    </div>

    <div class="tournament-container">
            <div class="tournament" id="dynamic-bracket"></div>
            <div class="tournament" id="dynamic-losers-bracket"></div>
    </div>


    <div class="participant-menu">

        @foreach (var participant in Model.Participants)
        {    
            <img id =@participant.Name src=@participant.ImageURL draggable="true" ondragstart="drag(event)" alt="Icon" />
        }
    
    </div>

</body>



</html>
