@model TournamentBracket.Models.Tournament

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Tournament.css" asp-append-version="true" />


<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Participants
        </dt>
        <dd class="Participants">
            <ul>
                @foreach (var participant in Model.Participants)
                {
                    <li>@participant.Name <br />
                        <img src = @participant.ImageURL alt = "Icon"/>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
