@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/TestBracket.css" asp-append-version="true" />

<div class="tournament">
    <div class="bracket">

        <div class="column one">
            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
            <div class="match winner-bottom">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />
                    <span class="name">New </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">West </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Denver </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Chicago </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">San</span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Seattle </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando</span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
        </div>

        <div class="column two">
            <div class="match winner-bottom">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">West  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-bottom">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Denver </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">San  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
        </div>

        <div class="column three">

            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">West  </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">San  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
        </div>

        <div class="column four">

            <div class="match winner-top">
                <div class="match-top team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">West  </span>
                </div>
                <div class="match-bottom team">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">San  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

        </div>
        <div class="column last">

            <div class="winner">
                <div class="winner-slot">
                    <img src="https://tournamentbracketimages.blob.core.windows.net/publishedtesting-test/coolduck_400x400.jpg" alt="Icon" />                    <span class="name">West  </span>
                </div>
            </div>
            <div class="match-lines alt">
                <div class="line extended"></div>
            </div>

        </div>
    </div>
</div>