@{
    ViewData["Title"] = "Home Page";
}

<script>
    // Use jQuery.noConflict() to release the '$' variable
    jQuery.noConflict();
    // Use jQuery instead of $ to ensure compatibility
    jQuery(function ($) {
        $("#draggable").draggable({
            snap: "#droppable", // Snap to the droppable area
            snapMode: "inner"   // Snap to the inside of the droppable area

        });
        $("#droppable").droppable({
            drop: function (event, ui) {
                $(this)
                    .addClass("ui-state-highlight")
                    .find("p")
                    .html("Dropped!");
            }
        });
        $("#droppable2").droppable({
            drop: function (event, ui) {
                $(this)
                    .addClass("ui-state-highlight")
                    .find("p")
                    .html("Dropped!");
            }
        });
    });
</script>

<link rel="stylesheet" href="~/css/TestBracket.css" asp-append-version="true" />




<div id="draggable" class="ui-widget-content">
    <p>Drag me around</p>
</div>

<div id="droppable" class="ui-widget-header">
    <p>Drop here</p>
</div>

<br/>

<div id="droppable2" class="ui-widget-header">
    <p>Or here</p>
</div>

<br/>

<div class="tournament">
    <div class="bracket">

        <div class="column one">
            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
            <div class="match winner-bottom">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">New </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">West </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Denver </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">Chicago </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">San</span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">Seattle </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando</span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
        </div>

        <div class="column two">
            <div class="match winner-bottom">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">West  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-bottom">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Denver </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">San  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <!--Match "Object"-->
            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
            <!--Match "Object"-->
        </div>

        <div class="column three">

            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">West  </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">San  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">Orlando </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">D.C. </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>
        </div>

        <div class="column four">

            <div class="match winner-top">
                <div class="match-top team">
                    <span class="image"></span>
                    <span class="name">West  </span>
                </div>
                <div class="match-bottom team">
                    <span class="image"></span>
                    <span class="name">San  </span>
                </div>
                <div class="match-lines">
                    <div class="line one"></div>
                    <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                    <div class="line one"></div>
                </div>
            </div>

        </div>
    </div>
</div>