@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/TestBracket.css" asp-append-version="true" />

<script src="~/js/Scripts.js" asp-append-version="true"></script>
<script>
    window.onload = function () {
        generateTournamentBracket(16);
    }
</script>

<div class="t1" id="dynamic-bracket"></div>