
/*Adjusts the location of the columns contents to line up with the top of the div*/
.loser .column:nth-child(3) {
    height: 0px;
}

.loser .column:nth-child(3) .match:nth-child(3) {
    margin-top:154.5px;
}

/*Vertical line length fixes based on column*/
.loser .column:nth-child(2) .match-lines .line.two {
    height: 150px;
}

.loser .column:nth-child(3) .match-lines .line.two{
    height: 150px;
}

.loser .column:nth-child(4) .match-lines .line.two {
    height: 200px;
}

.loser .column:nth-child(4) .match-lines .line.two {
    height: 200px;
}

.loser .column:last-child .match-lines.alt {
    left:1010px;
    top:401px;
}

.loser .column:last-child .match-lines .line.two {
    height: 220px;
    bottom: 580px;
}

.loser .winner .winner-slot {
    background-color: #e2e2e2;
}

.loser .winner .player-slot img {
    left: -1px;
    border: 5px solid #e2e2e2;
}