body {
    background-image: url("https://tournamentbracketimages.blob.core.windows.net/pokken-theme-assets/background.png"); /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    background-position: center; /* Center the image */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure the body takes the full height */
}

html {
    height: 100%; /* Ensure the html element takes the full height */
}

.Pokken-Logo{
    position: absolute;
    top: 10px;
    right: 10px;

}

.tournament-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

    .tournament-container h1 {
        font-family: 'tekton-pro', sans-serif;
        font-size: 60px;
        padding: 20px;
        margin-left: 20px;
    }

.tournament {
    position: relative;
    margin-top: -100px;
}

.bracket {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 40px;
    margin: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-around;
    align-content: center;
    margin-right: 55px;
}

.winner {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: -150px 24px 24px 0;
}
    .winner .crown{
        display: center;
        height: 150px;
        width: 150px;
    }
    .winner .winner-slot {

        height: 195px;
        width: 195px;
        border: 1px dashed black;
        background-color: lightgrey;
    }
        .winner .winner-slot .player-slot {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 195px;
            width: 195px;
        }
            .winner .winner-slot .player-slot img {
                position: absolute;
                height: 200px;
                width: 200px;
            }

.match {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 75px;
    margin: 70px 24px 24px 0;
}

    .match .match-top {
        border-radius: 2px 2px 0 0;
    }

    .match .match-bottom {
        border-radius: 0 0 2px 2px;
    }

    .match .player-slot {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        border: 1px dashed black;
        background-color: lightgrey;
    }
    .match .player-slot img{
        position: absolute;
        height: 75px;
        width: 75px;
    }

.match-lines {
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin-top: 35px;
    right: -1px;
    pointer-events: none; /* Prevent it from blocking interactivity */
}

    .match-lines .line {
        background: red;
        position: absolute;
    }

        .match-lines .line.one {
            height: 1px;
            width: 40px;
        }

        .match-lines .line.two {
            height: 85px;
            width: 1px;
            left: 40px;
        }

    .match-lines.alt {
        left: -38px;
    }

    .match-lines .line.extended {
        position: absolute;
        width: 40px;
        height: 1px;
        left: 655px;
        top: 23px;
    }

.match:nth-child(even) .match-lines .line.two {
    transform: translate(0, -100%);
}

.column:first-child .match-lines.alt {
    display: none;
}

    .column:last-child .match-lines.alt {
        display: block;   
    }

.column:nth-child(2) .match-lines .line.two {
    height: 175px;
}

.column:nth-child(3) .match-lines .line.two {
    height: 350px;
}

.column:nth-child(4) .match-lines .line.two {
    height: 400px;
}

.column:nth-child(5) .match-lines .line.two {
    height: 500px;
}

.participant-menu {
    bottom: 0;
    position: fixed;
    background-color: lightgrey;
    display: block;
    width: 100%;
}

    .participant-menu img {
        position:center;
        height: 75px;
        width: 75px;
    }